/* sección carrusel */
.carousel {
  padding: 10px;
  border: 1px solid #000;
  width: 100%;
}

.carousel__cartel {
  width: 80%;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.carousel__cartel-texto {
  background-color: rgba(189, 189, 189, 0.42);
  border-radius: 10px;
}

.carousel__cartel-tittle {
  font-size: 100px;
  text-align: center;
  color: var(--color-1);
}

.carousel__cartel-parrafo {
  font-size: 30px;
  text-align: center;
  color: var(--color-blanco);
}

.carousel {
  position: relative;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 2rem;
  background: url("../img/casa\ 2.jpg") no-repeat;
  background-position: initial;
  background-size: cover;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  height: auto;
}

.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.navigation button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.navigation button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* seccion de servicios */

.servicios {
  width: 100%;
  height: auto;
  background: linear-gradient(70deg, var(--color-3), var(--color-5));
}

.servicios__descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.servicios__descripcion-tittle {
  margin-top: 0.625rem;
  font-size: 3.125rem;
  color: var(--color-1);
}

.servicios__descripcion-parrafo {
  font-size: 1.25rem;
  color: var(--letra-color);
}

.servicios__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.25rem;
  width: 100%;
}

.servicios__card-content {
  width: 30%;
  height: 25rem;
  border-radius: 5%;
  border: 2px solid var(--color-blanco);
  background: var(--color-blanco);
  border-radius: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 10px 10px 26px 5px rgba(0, 0, 0, 0.75);
}

.servicios__card-content:hover {
  opacity: 0.5;
  cursor: pointer;
}

.servicios__card-textos {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  gap: 1.25rem;
}

.servicios__card-tittle {
  font-size: 35px;
  text-align: center;
  /* color: var(--color-1); */
}

.servicios_card-parrafo {
  font-size: 19px;
}

.servicios__card-img {
  width: 25%;
}

/* Seccion buscar css */

.buscar {
  width: 100%;
  height: 14.375rem;
  background-color: var(--color-blanco);
  box-shadow: inset -2px -21px 100px 5px rgba(0, 0, 0, 0.72);
}

.buscar__tittle {
  font-size: 50px;
  text-align: center;
}

.buscar__form {
  width: 100%;
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
}

.buscar__input {
  border-radius: 10%;
  width: 12.5rem;
  height: 1.875rem;
  border: 2px solid var(--color-1);
}

.buscar__input-text {
  width: 12.5rem;
  height: 1.875rem;
  background: none;
  border: none;
}

.form-select {
  width: 12.5rem;
  height: 1.875rem;
  background: none;
}

/* seccion favoritos */

.favoritos {
  width: 100%;
  height: 60.625rem;
  background: url("../img/favoritos.jpg") no-repeat;
  background-position: initial;
  background-size: cover;
}

.favoritos__tittle {
  width: 100%;
  height: 4.375rem;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favoritos__tittle-text {
  font-size: 2.5rem;
  color: var(--color-blanco);
}

.favoritos__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.25rem;
  width: 100%;
}

.favoritos__card-content {
  width: 30%;
  height: 25rem;
  border-radius: 5%;
  border: 2px solid var(--color-blanco);
  background: transparent;
  backdrop-filter: blur(0.625rem);
  border-radius: 1.25rem;
}

.favoritos__card-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  gap: 1.25rem;
}

.favoritos__card-tittle {
  font-size: 1.875rem;
  color: var(--color-blanco);
}

.favoritos_card-parrafo {
  font-size: 1.063rem;
  color: var(--letra-color);
}

.favoritos__card-img {
  width: 18.75rem;
  height: 12.5rem;
  border-radius: 5px;
}
