/* Venta de Propiedad */
.venta-propiedad {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background: linear-gradient(45deg, var(--color-blanco), var(--color-5));
  transition: background 0.5s ease;
  animation: fadeIn 1.5s ease-in-out;
}

.venta-propiedad__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--color-blanco);
  box-shadow: 0 10px 30px rgba(0, 66, 54, 0.2);
  border-radius: 10px;
  padding: 40px;
  width: 80%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 1.5s ease-in-out;
}

.venta-propiedad__form:hover {
  transform: scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 66, 54, 0.4);
}

.venta-propiedad__inputs {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-bottom: 20px;
}

.venta-propiedad__inputs label {
  font-size: 18px;
  color: var(--color-1);
  margin-bottom: 8px;
}

.venta-propiedad__inputs input[type="text"],
.venta-propiedad__inputs input[type="file"],
.venta-propiedad__inputs input[type="int"],
.venta-propiedad__inputs select {
  padding: 10px;
  border: 2px solid var(--color-3);
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.venta-propiedad__inputs input:focus,
.venta-propiedad__inputs select:focus {
  border-color: var(--color-1);
  box-shadow: 0 0 10px rgba(0, 66, 54, 0.3);
}

.venta-propiedad__inputs input[type="file"] {
  cursor: pointer;
  padding: 5px;
}

.venta-propiedad__boton {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.venta-propiedad__boton input[type="submit"] {
  background-color: var(--color-2);
  color: var(--color-blanco);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.venta-propiedad__boton input[type="submit"]:hover {
  background-color: var(--color-1);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 66, 54, 0.3);
}
